<?xml version="1.0"?>
<config>
  <modules>
    <KBariotis_ProductFeeds>
      <version>0.1.0</version>
    </KBariotis_ProductFeeds>
  </modules>
  <global>
    <helpers>
      <productfeeds>
        <class>KBariotis_ProductFeeds_Helper</class>
      </productfeeds>
    </helpers>
	<models>
	  <productfeeds>
		<class>KBariotis_ProductFeeds_Model</class>
		<resourceModel>productfeeds_mysql4</resourceModel>
	  </productfeeds>
	</models>
  </global>    
    <crontab>
        <jobs>
            <productfeeds_exportbestprice>
                <schedule>
                    <config_path>productfeeds/general/frequency</config_path>
                </schedule>
                <run><model>productfeeds/cron::exportBestprice</model></run>
            </productfeeds_exportbestprice>
			<productfeeds_exportskroutz>
                <schedule>
                    <config_path>productfeeds/general/frequency</config_path>
                </schedule>
                <run><model>productfeeds/cron::exportSkroutz</model></run>
            </productfeeds_exportskroutz>
			<productfeeds_exportsnif>
                <schedule>
                    <config_path>productfeeds/general/frequency</config_path>
                </schedule>
                <run><model>productfeeds/cron::exportSnif</model></run>
            </productfeeds_exportsnif>
        </jobs>
    </crontab>
    <default>
        <productfeeds>
            <general>
                <path>/feeds</path>
                <frequency>0 0 * * *</frequency>
                <shipping_cost>0</shipping_cost>
            </general>
        </productfeeds>
    </default>
</config> 